#DataStructure

1. What are data structures, and why are they important?
  - Data Structure is a way of organizing and storing data so that it can be accessed easily and manipulated efficiently.
  - They are crucial for optimizing code performance, enabling faster and more effective computations, and making it easier to understand and maintain code.
2. Explain the difference between mutable and immutable data types with examples.
  - Mutable data types can be modified after they are created, while immutable data types cannot be modified after they are created, they remain the same till execution.
  - Lists, dictionaries, and sets are mutable, meaning their contents can be changed.
  - Strings, tuples, and numbers are immutable, their values cannot be altered once they are assigned.
3. What are the main differences between lists and tuples in Python?
  - Mutability is the most significant difference, Lists are mutable, meaning their elements can be changed (added, removed, or modified) after the list is created. Tuples are immutable, meaning their elements cannot be changed once the tuple is created.
  - Lists are enclosed in [] (square brackets) while tuples are enclosed in () (parenthesis).
4. Describe how dictionaries store data.
  - Dictionaries store data using Key - Value pairs.
  - Dictionaries are enclosed in {} (curly braces).
  - For Example : my_dict = {"Name":"Vaidehi","Age":21}
5. Why might you use a set instead of a list in Python?
  - Sets are standard Python data type that also store values.
  - The major difference is that sets, unlike lists, cannot have multiple occurrences of the same element and store unordered values.
6. What is a string in Python, and how is it different from a list?
  - String is a sequence of character that represents and manipulates textual data.
  - Difference between String and List is that String is a sequence of characters and List is a sequence of values which can be either characters, integers, or other. Also String is Immutable and Lists are Mutable.
7. How do tuples ensure data integrity in Python?
  - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability.
  - This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.
8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that implements an associative array, also known as a dictionary or map.
  - It stores key-value pairs by using a hash function to compute an index into an array of buckets or slots, from which the desired value can be retrieved.
  - Python's built-in dict type is an implementation of a hash table - Hashing the key, Mapping to Index and Storage are done when you create dict in Python.
9. Can lists contain different data types in Python?
  - Yes, lists in Python can contain elements of different data types. This is a key feature of Python lists, making them highly versatile.
10.  Explain why strings are immutable in Python?
  - Strings are Immutable in Python so that programmers cannot alter the contents of the object (even by mistake).
  - This avoids unnecessary bugs.
11. What advantages do dictionaries offer over lists for certain tasks?
  - Advantages of Dictionaries over Lists: Dictionaries provide faster lookups compared to lists when searching by key.
  - Dictionary is more useful when the indexing is needed so that any search can be narrowed down and is less time-consuming.
  - E.g. Saving phone numbers. If indexing is done then searching with the name will take less time than a list.
12.  Describe a scenario where using a tuple would be preferable over a list.
  - For saving someone's personal details example, Saving AadharCard Number whose value cannot be manipulated once they are inserted.
  - This is the Immutability function of Tuple.
13.  How do sets handle duplicate values in Python?
  - Sets are unordered and unique collection of elements.
  - Here, unique collection of data means if an elements occurs more than 1 time in a set, it is returned only one time in output.
  - Example : set = {"pwkills", 1, 2, "pwskills", 1} print(set) output will be : {'pwskills', 1, 2}
14. How does the “in” keyword work differently for lists and dictionaries?
  - In Dictionaries: The "in" operator works on dictionaries, it tells you whether something appears or not as a key in the dictionary. It returns two values True or False.
  - In Lists: The "in" keyword can be used to test whether certain characters are present in a string or a certain value present in a list.
15. Can you modify the elements of a tuple? Explain why or why not.
  - Tuples are Immutable means the elements in the tuple cannot be modified once it is created.
  - It is because Data Type - Tuple doesn't support item assignment because of Integrity and Memory Usage.
16. What is a nested dictionary, and give an example of its use case.
  - A nested dictionary in Python is a dictionary that contains other dictionaries as its values.
  - This allows for creating complex, hierarchical data structures, similar to records or structs, useful for representing structured information.
17.  Describe the time complexity of accessing elements in a dictionary.
  - Accessing elements in a dictionary(or hash table) typically has a time complexity of O(1) on average. This means that the time it takes to retrieve a value by its key is, on average, constant and doesn't depend on the size of the dictionary.
18. In what situations are lists preferred over dictionaries.
  - Lists are generally preferred over dictionaries when the order of elements matters and when you need to access elements by their index, especially in scenarios like stacks, queues, or when sorting is required.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair.
  - Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

In [19]:
#Write a code to create a string with your name and print it.
name = "Vaidehi"
print(name)

Vaidehi

In [17]:
#Write a code to find the length of the string "Hello World".
string = "Hello World"
len(string)

11

In [6]:
#Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
string[0:3]

'Pyt'

In [9]:
#Write a code to convert the string "hello" to uppercase.
string = "hello"
string.upper()

'HELLO'

In [10]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like Apple"
string.replace("Apple","Orange")

'I like Orange'

In [20]:
#Write a code to create a list with numbers 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [21]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [22]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [23]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
list[1]

'b'

In [24]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list[::-1]

[50, 40, 30, 20, 10]

In [26]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [25]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
tuple[-2]

'blue'

In [27]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
min(tuple)

5

In [29]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
tuple.index("cat")

1

In [30]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ("Apple", "Kiwi", "Mango")
"Kiwi" in tuple

True

In [ ]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {"a", "b", "c"}
print(set)

In [31]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [59]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set0 = {1, 2, 3, 4}
set0.remove(4)
print(set0)

{1, 2, 3}

In [33]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

In [34]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 & set2)

{2, 3}

In [35]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"Name":"Vaidehi", "Age":21, "City":"Badlapur"}
print(dict)

{'Name': 'Vaidehi', 'Age': 21, 'City': 'Badlapur'}

In [36]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {"name": "John", "age": 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Alice', 'age': 30}
dict["name"]

'Alice'

In [38]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {"name": "Bob", "age": 22, "city": "New York"}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [39]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {"name": "Alice", "city": "Paris"}
"city" in dict

True

In [42]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4]
print("List is :",list)
tuple = (1,2,3,4)
print("Tuple is :",tuple)
dict = {"Name":"Vaidehi", "Age":21}
print("Dictionary is :",dict)

List is : [1, 2, 3, 4]
Tuple is : (1, 2, 3, 4)
Dictionary is : {'Name': 'Vaidehi', 'Age': 21}

In [46]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
list = [random.randint(1,100) for i in range(5)]
list.sort()
print(list)

[13, 38, 49, 55, 60]

In [47]:
#Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "strawberry"]
print(my_list[3])

date

In [48]:
# Write a code to combine two dictionaries into one and print the result.
dict1 = {"name" : "Vaidehi", "age" : 21}
dict2 = {"course" : "data analytics", "duration" : 6}
dict1.update(dict2)
print(dict1)

{'name': 'Vaidehi', 'age': 21, 'course': 'data analytics', 'duration': 6}

In [62]:
#Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print(string_set)

{'cherry', 'banana', 'apple'}